<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/manage_student.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-head">
                        <div class="inner-logo">
                            <img src="/static/img/logo.png" alt="">
                        </div>
                        <div class="inner-menu">
                            <ul>
                                <li>
                                    <a href="{% url 'authentication:teacher_homepage' %}">HOME</a>
                                </li>
                                <li>
                                    <a href="">MANAGE</a>
                                </li>
                                <li>
                                    <a href="">AI SUPPORTER</a>
                                </li>
                                <li>
                                    <a href="">ABOUT US</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-log">
                            <ul>
                                <li>
                                    <a href="">Profile</a>
                                </li>
                                <li>
                                    <a href="{% url 'authentication:signout' %}">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h1>STUDENT MANAGEMENT</h1>
        <div class="content-box">
            <div class="filters">
                <div>
                    <label for="class">Select Class</label><br>
                    <select id="class">
                        <option>--</option>
                        <option>K28-TPM5</option>
                    </select>
                </div>
                <div>
                    <label for="search">Search</label><br>
                    <input type="text" id="search" placeholder="Enter name...">
                </div>
            </div>

            <div class="table-section">
                <h4>STUDENT LIST:</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Class</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lê Minh Hoàng</td>
                            <td>K28-TPM5</td>
                            <td class="actions">
                                <button class="btn-delete">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="add-button">
                <a href="{% url 'teacher:add_student' %}">
                    <button class="btn-add">Add Student</button>
                </a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-3">
                        <div class="inner-part">
                            <p class="inner-title">GIỚI THIỆU</p>
                            <p class="inner-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inner-part">
                            <p class="inner-title">LIÊN HỆ</p>
                            <p class="inner-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inner-part">
                            <p class="inner-title">ĐIỀU KHOẢN</p>
                            <p class="inner-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="inner-part">
                            <p class="inner-title">BẢO MẬT</p>
                            <p class="inner-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>